Schemas/audio-blueprints-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Version 1.0 Compiled by Kurziel 1/29/23 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="gameData">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="effects">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="effect">
								<xs:complexType mixed="true">
									<xs:sequence minOccurs="0">
										<xs:element name="filter">
											<xs:complexType>
												<xs:attribute name="gain" type="xs:string" use="required" />
												<xs:attribute name="gainHF" type="xs:string" use="required" />
												<xs:attribute name="gainLF" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="cachedSound">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="gain" type="xs:string" use="required" />
						<xs:attribute name="pitch" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="streamedSound">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="gain" type="xs:string" use="required" />
						<xs:attribute name="pitch" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>