Schemas/video-renderpasses-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Version 1.0 Compiled by Kurziel 1/29/23 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gameData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="attachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attachment">
                                <xs:complexType>
                                    <xs:attribute name="format" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>