Schemas/world-buildings-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Version 1.0 Compiled by Kurziel 1/29/23 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="gameData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="modifiers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="modifier">
								<xs:complexType mixed="true">
									<xs:sequence minOccurs="0">
										<xs:element name="effects">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="productionCost">
														<xs:complexType>
															<xs:attribute name="base" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="oreCost">
														<xs:complexType>
															<xs:attribute name="base" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="populationRequired">
														<xs:complexType>
															<xs:attribute name="base" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="slotsRequired">
														<xs:complexType>
															<xs:attribute name="base" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="energyUpkeep">
														<xs:complexType>
															<xs:attribute name="add" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="visible" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="productionModifiers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="modifier" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="strategyModifiers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="modifier" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="actions">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element maxOccurs="unbounded" name="produceUnit">
									<xs:complexType>
										<xs:attribute name="unit" type="xs:string" use="required" />
										<xs:attribute name="requiredUpgrade" type="xs:string" use="optional" />
										<xs:attribute name="visible" type="xs:string" use="optional" />
										<xs:attribute name="enabled" type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
								<xs:element name="acquireTile">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="modifiers">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="modifier">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="visible" type="xs:string" use="required" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="icon" type="xs:string" use="optional" />
										<xs:attribute name="name" type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
								<xs:element name="clearTile">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="modifiers">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="modifier">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="visible" type="xs:string" use="required" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="icon" type="xs:string" use="optional" />
										<xs:attribute name="name" type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" name="constructBuilding">
									<xs:complexType>
										<xs:attribute name="building" type="xs:string" use="required" />
										<xs:attribute name="requiredUpgrade" type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
								<xs:element name="rapidRise">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="modifiers">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="modifier">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="requiredUpgrade" type="xs:string" use="required" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="name" type="xs:string" use="required" />
										<xs:attribute name="interfaceSound" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element name="constructFeature">
									<xs:complexType>
										<xs:attribute name="feature" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element name="reclaimUnit">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="modifiers">
												<xs:complexType>
													<xs:sequence>
														<xs:element maxOccurs="unbounded" name="modifier">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="visible" type="xs:string" use="optional" />
																		<xs:attribute name="requiredUpgrade" type="xs:string" use="optional" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="cooldown" type="xs:string" use="required" />
										<xs:attribute name="name" type="xs:string" use="required" />
										<xs:attribute name="interfaceSound" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="traits">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="trait">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="requiredUpgrade" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>